<%- include('partials/header') %>
<%- include('partials/home-navbar') %>
<body>
	<div class="container">
		
     <div class=" article my-4">
     	
     	    <%= article.title %>
        

     	    <%- article.body %>
         
     </div>

	</div>
</body>
<%- include('partials/footer') %>